.admin-page-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #004084;
}

.options-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.option {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
.logout-btn{
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #004084;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #004084;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.btn a{
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}
