.doctor-view-patient-data {
    margin: 20px;
  }
  
  .doctor-view-patient-data h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .doctor-view-patient-data form {
    margin-bottom: 20px;
  }
  
  .doctor-view-patient-data input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .doctor-view-patient-data button {
    padding: 5px 10px;
  }
  
  .doctor-view-patient-data .patient-details {
    margin-top: 20px;
  }
  
  .doctor-view-patient-data h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .doctor-view-patient-data p {
    margin-bottom: 5px;
  }
  
  .doctor-view-patient-data ul {
    margin: 0;
    padding-left: 20px;
  }
  
  .doctor-view-patient-data ul li {
    margin-bottom: 5px;
  }
  

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  

button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #004084;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: auto;
}

button[type="submit"] {
  margin-right: 10px;
}

button[type="button"] {
  background-color: #dc3545;
}
a{
  color: #fff;
  text-decoration: none; 
}
